@using Bookstore.Models.AuthorWM;
@model AuthorEditWM;

@{
	ViewData["Title"] = "Authors";
}

<h1>@Model.PageTitle</h1>
<h3>Author</h3>
<form asp-action="Edit" asp-controller="Author" method="post">
	<input hidden type="number" value="@Model.Id" asp-for="Id" id="Id" />
	<div>	
		<label class="form-label" for="firstName">
			First Name
		</label>
		<input type="text" required asp-for="FirstName" class="form-control" id="firstName" />	
	</div>
	<div>
		<label class="form-label" for="lastName">
			Last Name
		</label>
		<input type="text" required asp-for="LastName" class="form-control" id="lastName" />
	</div>
	<div>
		<label class="form-label" for="birthDay">
			Birth Date
		</label>
		<input type="date" required asp-for="BirthDay" class="form-control" id="birthDay" />
	</div>
	<button class="btn btn-primary" value="Create"  type="submit">
		Submit
	</button>
</form>
