@{
    ViewData["Title"] = "Order";
}
<h1>Order</h1>
<p class="text-lg">Order Confirmed</p>

<div class="bg-success p-2 border bg-opacity-25 border-success text-success rounded">
	<p>Your order is confirmed</p>
</div>